.uppy-Container {
    width: 100%;
}

.uppy-DragDrop-arrow path {
    fill: var(--color-primary)
}

.uppy-DragDrop-label {
    color: #fff
}

.uppy-Container {
    height: 100%;
}

.uppy-Root {
    height: 100%;
}

.uppy-DragDrop-container {
    background: #00000080 !important;
}